h3 {
  margin-top: 0;
}

h4, h5 {
  text-align: center;
}

.sheet_name {
  font-weight: bold;
}

.summary_header {
  height: 50px;
}

body, html {
  padding: 6px;
  margin: 0px;
}

hr {
  border: 1px solid #aaa;
}